
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.container {
  margin: auto;
  max-width: 1000px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.updateBtn{
  margin-right: 20px;
}

.update-input{
  margin-bottom: 40px;
  width: 500px !important;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
